/* 'margin' espaços ao redor de uma página */
/* linear gradient generator css site de cores para gradient */
/*'()' é como se fosse uma função dando as instruções de como irá funcionar*/
/* 'deg' é 'graus' rotação de 0, 90graus, 180graus, 270 e 360graus */
/* rgba é uma função que passa instruções, suas cores são (red, green, blue e alpha) 0 é preto absoluto e 255 é branco absoluto, cada junção dessas cores cria uma nova cor, 0 e 1 do alpha é opaco há transparente ou seja visível e não visível*/ 
/* o gradient junta as dois rgba para juntar as cores */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227,255, 248, 0.38 ) 100%); 
  min-height: 100vh; /* viewportheight pega os 100 pedaços da pagina e ocupa todo esse espaço para ajustar altura ao tamanho da largura, o 'min' é como se coloca-se uma regra que no minímo tenha essa altura e que se tiver dispostivos maiores ou mais conteúdos ela se adaptar e aumentar ainda mais essa altura*/
}


/*conceitos de boxmodel */
/* toda caixa tem conteúdo (largura e altura), preenchimento interno, bordas e espaços fora da caixa */
/* 'padding' é o preenchimento interno de dentro da caixa */

.page {
  width: 1000px;  /*largura da caixa */
  padding-top: 65px;
  margin: 0 auto ;
}

/* main axis ou eixo principal é em uma linha orizontal */

/* caixa flexivel,agrupa os elementos na mesma mesma caixa podendo alinhar os elementos contidos dentro dela de diversas formas, usando propriedades e valores */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  align-items: center;
}

ul {
  font-family: "Mulish", sans-serif;
  display: flex;
  list-style: none; /* tira o estilo padrão da lista com o 'none' */
  gap: 48px; /* espaços entre os elementos */
  margin: 0;
  padding: 0;
}

a {
  color: #1F1534;
  text-decoration: none;
}


/*pseudo class é quando passa o mouse em cima do botão e muda sua propriedade*/
ul li a:hover {
  font-weight: bold;
  color: #1F1534;
  text-decoration: underline;
  
}



h1 {
  font-family: "Mulish", sans-serif;
  font-size: 49px;
  color:  #1F1534;
  font-weight: normal;
  line-height: 56px;
  width: 490px;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

main {
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  align-items: center;
}

section p {
  font-size: 14px;
  line-height: 28px; /* largura da linhas */
  color: #7D7987;
  margin: 40px 0;
}

button:hover {
  background:#457a67;
}

button {
  color: #FFF;
  text-transform: uppercase;  /* muda o texto para grande e maiúsculo */
  font-family: "Open Sans", sans-serif;
  border: none;
  background: #69B99D; /*coloca cores e imagens de fundo */
  padding: 14px 32px 15px;
  display: flex;
  gap: 10px;
  border-radius: 4px; /* lados do relógios 'top-left', 'top-right', 'bottom-right', 'bottom-left'. */
  justify-content: center;
  align-items: center;
  cursor: pointer; /* cursor do mouse, aparece a maozinha quando encosta no botâo */
}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}


footer a {
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}